
#box{
    position: fixed;
    top: 0px;
    width: 98.7%;;
    background: #666666;
    padding: 10px;
    z-index: 2;
}

#logo{
    float: left;
}

#rightButtons{
    float: right;
    display: flex;
}