/* You can add global styles to this file, and also import other style files */

body{
    background: #f0f0f0 !important;
    width: 100%;
    height: 100%;
}

button{
    font-size: 15px !important;
    display: flex !important;
    outline: 0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input:focus:not([type=checkbox]):not([type=radio]) {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
  }

.clear{
    clear: both
}

.padding_globally{
    padding: 10px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
